In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
from time import sleep
from selenium.webdriver import ActionChains

In [3]:
#Q-1
driver1=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")
driver1.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:

rows = driver1.find_elements(By.XPATH,"//table/tbody/tr")
#print(rows)

for row in rows[0:35]:
    # Get all the columns for each row. 
    # cols = row.find_elements_by_xpath("./*")
    cols = row.find_elements(By.XPATH,"./*[name()='td'][1]")
    rank = [] # Temproary list
    for col in cols:
        #print(col.text)
        rank.append(col.text)
        
for row in rows:
    # Get all the columns for each row. 
    # cols = row.find_elements_by_xpath("./*")
    cols = row.find_elements(By.XPATH,"./*[name()='td'][2]")
    name = [] # Temproary list
    for col in cols:
        print(col.text)
        name.append(col.text)
print("_________________")        
for row in rows:
    # Get all the columns for each row. 
    # cols = row.find_elements_by_xpath("./*")
    cols = row.find_elements(By.XPATH,"./*[name()='td'][3]")
    artiest = [] # Temproary list
    for col in cols:
        print(col.text)
        artiest.append(col.text)

This article needs additional citations for verification. Please help improve this article by adding citations to reliable sources. Unsourced material may be challenged and removed.
Find sources: "List of most-viewed YouTube videos" – news · newspapers · books · scholar · JSTOR (March 2021) (Learn how and when to remove this template message)
"Baby Shark Dance"[3]
"Despacito"[6]
"Johny Johny Yes Papa"[12]
"Shape of You"[13]
"See You Again"[15]
"Bath Song"[20]
"Phonics Song with Two Words"[21]
"Uptown Funk"[22]
"Learning Colors – Colorful Eggs on a Farm"[23]
"Gangnam Style"[24]
"Masha and the Bear – Recipe for Disaster"[29]
"Wheels on the Bus"[30]
"Dame Tu Cosita"[31]
"Sugar"[32]
"Roar"[33]
"Counting Stars"[34]
"Sorry"[35]
"Axel F"[36]
"Thinking Out Loud"[37]
"Baa Baa Black Sheep"[38]
"Dark Horse"[39]
"Faded"[40]
"Girls Like You"[41]
"Let Her Go"[42]
"Bailando"[43]
"Lean On"[44]
"Perfect"[45]
"Waka Waka (This Time for Africa)"[46]
"Shake It Off"[47]
"Humpty the train on a fruits ride"[48]
Pinkfong Baby Shark - Kids' Songs & Stories
Luis Fonsi
Wiz Khalifa
Psy
Justin Bieber
Lady Gaga
HDCYT
Judson Laipply
RCA Records
Judson Laipply
CLARUSBARTEL72
Judson Laipply
Smosh
eggtea
mugenized
youtubedude
Nikesoccer
larfus
jawed
_________________
Pinkfong Baby Shark - Kids' Songs & Stories
Luis Fonsi
LooLoo Kids
Ed Sheeran
Wiz Khalifa
Cocomelon – Nursery Rhymes
ChuChu TV
Mark Ronson
Miroshka TV
Psy
Get Movies
Cocomelon – Nursery Rhymes
El Chombo
Maroon 5
Katy Perry
OneRepublic
Justin Bieber
Crazy Frog
Ed Sheeran
Cocomelon – Nursery Rhymes
Katy Perry
Alan Walker
Maroon 5
Passenger
Enrique Iglesias
Major Lazer
Ed Sheeran
Shakira
Taylor Swift
Kiddiestv Hindi – Nursery Rhymes & Kids Songs
7,046,700,000
3,002,800,000
2,894,000,000
803,700,000
245,400,000
178,400,000
128,900,000
118,900,000
92,600,000
78,400,000
76,600,000
10,600,000
4,300,000
2,700,000
3,400,000
2,300,000
255,000
247,000
1

In [23]:
#Q-2
driver2=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")
driver2.get("https://www.bcci.tv/international/fixtures")

In [24]:
more=driver2.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button")
more.click()

In [35]:
match_name=[]
series_name=[]
match_date=[]
match_time=[]
match_place=[]

title=driver2.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in title:
    #print(i.text)
    series_name.append(i.text)
    
date=driver2.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date:
    #print(i.text)
    match_date.append(i.text)
    
time=driver2.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time:
    #print(i.text)
    match_time.append(i.text)
    
name=driver2.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in name:
    #print(i.text.replace("-",""))
    match_name.append(i.text.replace("-",""))
    
place=driver2.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place:
    #print(i.text)
    match_place.append(i.text)

Sylhet Outer Cricket Stadium,
Barsapara Cricket Stadium,
Sylhet Outer Cricket Stadium,
Sylhet Outer Cricket Stadium,
Holkar Cricket Stadium,
Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium,
Sylhet International Cricket Stadium,
Sylhet International Cricket Stadium,
JSCA International Stadium Complex,
Sylhet International Cricket Stadium,
Arun Jaitley Stadium,

In [36]:
bcci=list(zip(match_name,series_name,match_date,match_time,match_place))
bcci_df=pd.DataFrame(bcci,columns=["match Title","Seriese","Date","Time","Place"])
bcci_df

,match Title,Seriese,Date,Time,Place
0,1st T20I,ASIA CUP WOMENS 2022,1 OCT 2022,1:00 PM IST,"Sylhet Outer Cricket Stadium,"
1,2nd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,2 OCT 2022,7:00 PM IST,"Barsapara Cricket Stadium,"
2,2nd T20I,ASIA CUP WOMENS 2022,3 OCT 2022,1:00 PM IST,"Sylhet Outer Cricket Stadium,"
3,3rd T20I,ASIA CUP WOMENS 2022,4 OCT 2022,1:00 PM IST,"Sylhet Outer Cricket Stadium,"
4,3rd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,4 OCT 2022,7:00 PM IST,"Holkar Cricket Stadium,"
5,1st ODI,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,6 OCT 2022,1:30 PM IST,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
6,4th T20I,ASIA CUP WOMENS 2022,7 OCT 2022,1:00 PM IST,"Sylhet International Cricket Stadium,"
7,5th T20I,ASIA CUP WOMENS 2022,8 OCT 2022,1:00 PM IST,"Sylhet International Cricket Stadium,"
8,2nd ODI,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,9 OCT 2022,1:30 PM IST,"JSCA International Stadium Complex,"
9,6th T20I,ASIA CUP WOMENS 2022,10 OCT 2022,1:00 PM IST,"Sylhet International Cricket Stadium,"
10,3rd ODI,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,11 OCT 2022,1:30 PM IST,"Arun Jaitley Stadium,"

In [52]:
#Q-3

driver3=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")
driver3.get("https://www.guru99.com/")

In [53]:
exception_search=driver3.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input")
exception_search.send_keys('exception handling selenium')

In [54]:
search=driver3.find_element(By.CLASS_NAME,"gsc-search-button")
search.click()

In [57]:
exception_name=[]
exception_description=[]

exc_title=driver3.find_elements(By.XPATH,'//a[@class="gs-title"]')
for i in exc_title:
    #print(i.text)
    exception_name.append(i.text)
    
exc_desc=driver3.find_elements(By.XPATH,'//div[@class="gs-bidi-start-align gs-snippet"]')
for i in exc_desc:
    #print(i.text)
    ipp=i.text
    tr=ipp.split("...")
    print(tr)
    exception_description.append(i.text)

['26-Aug-2022 ', ' How to Handling Exceptions in Selenium ', ' This method can catch Exceptions, which uses a combination of the try and catch keywords. Try command ', '']
['27-Aug-2022 ', ' For handling SSL certificate error in Firefox, we need to use desired capabilities of Selenium Webdriver and follow the following steps.']
['25-Aug-2022 ', ' All these errors are highlighted when you compile the code. Runtime Errors Example. A Runtime error is called an Exceptions error. It is any ', '']
['20-Aug-2022 ', ' We will also see how to handle Alert in Selenium WebDriver and learn how ', ' It notifies the user with some specific information or error, ', '']
['10-Sept-2022 ', ' In this Python exceptional handling tutorial, you will learn Exceptional Handling Mechanism(Try, Catch, Finally), Rules of Exceptions, ', '']
['25-Aug-2022 ', ' If an exceptional situation occurs within that section of code, an exception will be thrown. Next, the exception handler will take over control ', '']
['13-Sept-2022 ', ' In this tutorial, we learn Oracle PL/SQL Exception Handling with Examples. We also learn types of Exception, Predefined and User-defined ', '']
['22-Aug-2022 ', ' In this VB.Net Exception Handling tutorial, we will learn What is Exception Handling in VB.Net with Try, Catch, Finally, & Throw Exception ', '']
['26-Jul-2022 ', ' Learn with example Exception & Error handling using try catch blocks for thrown exceptions, Multiple Exceptions.']
['25-Aug-2022 ', ' In this tutorial, we will learn What is Exception & Exception Handling in JSP, JSP Exception Types & How to Handle Exception in JSP with Try ', '']
['']

In [58]:
selenium_exception=list(zip(exception_name,exception_description))
selenium_exception_df=pd.DataFrame(selenium_exception,columns=["Name","Description"])
selenium_exception_df

,Name,Description
0,Exception Handling in Selenium Webdriver (Types),26-Aug-2022 ... How to Handling Exceptions in ...
1,,27-Aug-2022 ... For handling SSL certificate e...
2,How to Handle SSL Certificate in Selenium WebD...,25-Aug-2022 ... All these errors are highlight...
3,,20-Aug-2022 ... We will also see how to handle...
4,Try Catch in Java: Exception Handling Example,10-Sept-2022 ... In this Python exceptional ha...
5,,25-Aug-2022 ... If an exceptional situation oc...
6,Selenium Alert & Popup Window Handling: How to...,"13-Sept-2022 ... In this tutorial, we learn Or..."
7,,22-Aug-2022 ... In this VB.Net Exception Handl...
8,"Python Exception Handling: try, catch, finally...",26-Jul-2022 ... Learn with example Exception &...
9,,"25-Aug-2022 ... In this tutorial, we will lear..."
10,"C++ Exception Handling: Try, Catch, throw Example",

In [12]:
#Q-4

driver4=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")
driver4.get("http://statisticstimes.com/")

In [13]:
economi_drop=driver4.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
economi_drop.click()

In [14]:
india_economy=driver4.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
india_economy.click()

In [16]:
india_gdp=driver4.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
india_gdp.click()

In [44]:
economy_rank=[]
state_name=[]
previous_year=[]
previous2_year=[]
previous_share=[]

#gsdp_table=driver4.find_element(By.XPATH,'//div[@class="dataTables_wrapper"]')
rank=driver4.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank[0:33]:
    #print(i.text)
    economy_rank.append(i.text)
    
state=driver4.find_elements(By.XPATH,'//td[@class="name"]')
for i in state[0:33]:
    #print(i.text)
    state_name.append(i.text)
    
#pre_year=driver4.find_elements(By.XPATH,'//td[@class="data"]')
#for i in pre_year[0:33]:
    #print(i.text)
    #previous_year.append(i.text)
    
rows = driver4.find_elements(By.XPATH,"//table/tbody/tr")
for row in rows[0:35]:
    cols = row.find_elements(By.XPATH,"./*[name()='td'][3]")
    for col in cols:
        #print(col.text)
        previous_year.append(col.text)
        
rows2 = driver4.find_elements(By.XPATH,"//table/tbody/tr")
for row2 in rows2[0:35]:
    cols2 = row2.find_elements(By.XPATH,"./*[name()='td'][4]")
    for col2 in cols2:
        #print(col2.text)
        previous2_year.append(col2.text)
        
rows3 = driver4.find_elements(By.XPATH,"//table/tbody/tr")
for row3 in rows3[0:35]:
    cols3 = row3.find_elements(By.XPATH,"./*[name()='td'][5]")
    for col3 in cols3:
        #print(col3.text)
        previous_share.append(col3.text)

In [45]:
india_gdp_rate=list(zip(economy_rank,state_name,previous_year,previous2_year,previous_share))
india_gdp_df=pd.DataFrame(india_gdp_rate,columns=["Rank","State","GSDP[2019-20]","GSDP[2018-19]","share[2018-19]"])
india_gdp_df

   Rank                      State GSDP[2019-20] GSDP[2018-19] share[2018-19]
0     1                Maharashtra             -     2,632,792         13.94%
1     2                 Tamil Nadu     1,845,853     1,630,208          8.63%
2     3              Uttar Pradesh     1,687,818     1,584,764          8.39%
3     4                    Gujarat             -     1,502,899          7.96%
4     5                  Karnataka     1,631,977     1,493,127          7.91%
5     6                West Bengal     1,253,832     1,089,898          5.77%
6     7                  Rajasthan     1,020,989       942,586          4.99%
7     8             Andhra Pradesh       972,782       862,957          4.57%
8     9                  Telangana       969,604       861,031          4.56%
9    10             Madhya Pradesh       906,672       809,592          4.29%
10   11                     Kerala             -       781,653          4.14%
11   12                      Delhi       856,112       774,870          4.10%
12   13                    Haryana       831,610       734,163          3.89%
13   14                      Bihar       611,804       530,363          2.81%
14   15                     Punjab       574,760       526,376          2.79%
15   16                     Odisha       521,275       487,805          2.58%
16   17                      Assam             -       315,881          1.67%
17   18               Chhattisgarh       329,180       304,063          1.61%
18   19                  Jharkhand       328,598       297,204          1.57%
19   20                Uttarakhand             -       245,895          1.30%
20   21            Jammu & Kashmir             -       155,956          0.83%
21   22           Himachal Pradesh       165,472       153,845          0.81%
22   23                        Goa        80,449        73,170          0.39%
23   24                    Tripura        55,984        49,845          0.26%
24   25                 Chandigarh             -        42,114          0.22%
25   26                 Puducherry        38,253        34,433          0.18%
26   27                  Meghalaya        36,572        33,481          0.18%
27   28                     Sikkim        32,496        28,723          0.15%
28   29                    Manipur        31,790        27,870          0.15%
29   30                   Nagaland             -        27,283          0.14%
30   31          Arunachal Pradesh             -        24,603          0.13%
31   32                    Mizoram        26,503        22,287          0.12%
32   33  Andaman & Nicobar Islands             -             -              -

In [7]:
#Q-5

driver5=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")
driver5.get("https://github.com/")

In [8]:
open_source_drop=driver5.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
open_source_drop.click()

In [9]:
trending_select=driver5.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
trending_select.click()

In [37]:
repository_title=[]
repository_description=[]
contributors_count=[]
language=[]

repo_title=driver5.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
for i in repo_title:
    #print(i.text)
    repository_title.append(i.text)
    
repo_desc=driver5.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in repo_desc:
    #print(i.text)
    repository_description.append(i.text)
    
#ss=driver5.find_elements(By.XPATH,'//span[@class="d-inline-block mr-3"]')
#print(len(ss))

#for j in ss:
    #print(j.text)
    #print("------------")
    
    #ccount=[]
    #contributor=j.find_elements(By.XPATH,'//a[@class="d-inline-block"]')
    #for i in contributor:
        #print(i.get_attribute('src'))
        #ccount.append(i.get_attribute('src'))
        #print(len(ccount))
        #print("finish")
    
    
#contributor=driver5.find_elements(By.XPATH,'//a[@class="d-inline-block"]')
#for i in contributor:
    #print(i.text)
    #contributors_count.append(i.text)
#print(len(contributors_count))

lan=driver5.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in lan:
    #print(i.text)
    language.append(i.text)

In [36]:
gith_hub=list(zip(repository_title,repository_description,language))
gith_hub_df=pd.DataFrame(gith_hub,columns=["Repository title","Repository description","Language used"])
gith_hub_df

,Repository title,Repository description,Language used
0,total-typescript / beginners-typescript-tutorial,An interactive TypeScript tutorial for beginners,TypeScript
1,penpot / penpot,Penpot - The Open-Source design & prototyping ...,Clojure
2,cypress-io / cypress,"Fast, easy and reliable testing for anything t...",JavaScript
3,google / googletest,GoogleTest - Google Testing and Mocking Framework,C++
4,lucidrains / make-a-video-pytorch,"Implementation of Make-A-Video, new SOTA text ...",Python
5,NielsRogge / Transformers-Tutorials,This repository contains demos I made with the...,Jupyter Notebook
6,nv-tlabs / GET3D,Manifesto de Pessoas Tecnologistas contra Bols...,Python
7,inspiradanacomputacao / tecnologistas-contra-b...,"Open-Source Laser for control mosquito, weed, ...",Python
8,Ildaron / Laser_control,A Library of various cybersecurity resources,JavaScript
9,developedbyed / react-portofolio-with-tailwind,一个用 SwiftUI 编写的 V2ex macOS 客户端（Beta）,Swift
10,Nickyie / Cybersecurity-Resources,"CasaOS - A simple, easy-to-use, elegant open-s...",Go
11,isaced / V2exOS,30 days of Python programming challenge is a s...,Python
12,IceWhaleTech / CasaOS,Generates LaTeX math description from Python f...,Python
13,Asabeneh / 30-Days-Of-Python,A modern runtime for JavaScript and TypeScript.,Rust
14,google / latexify_py,Peace of mind from prototype to production,Elixir
15,denoland / deno,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",JavaScript
16,phoenixframework / phoenix,A latent text-to-image diffusion model,Jupyter Notebook
17,microsoft / Web-Dev-For-Beginners,Build and ship your app faster https://fireshi...,Svelte
18,CompVis / stable-diffusion,立党老师的润学（零基础转码/移民/留学/海外创业/永居）笔记,TypeScript
19,fireship-io / fireship.io,🚀 The open-source notifications infrastructure...,HTML
20,lidangzzz / How-to-run,Awesome Docker Compose samples,JavaScript
21,novuhq / novu,30 days of JavaScript programming challenge is...,Python

In [52]:
#Q-6

driver6=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")
driver6.get("https://www.billboard.com/")

In [53]:
top100_sog=driver6.find_element(By.XPATH,"/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a")
top100_sog.click()

In [81]:
song_name=[]
artist_name=[]
last_week_rank=[]

song=driver6.find_elements(By.CLASS_NAME,"a-font-primary-bold-s")
for i in song[6:106]:
    #print(i.text)
    song_name.append(i.text)
    
artist=driver6.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
first=driver6.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span")
#print(first.text)
artist_name.append(first.text)
for i in artist:
    #print(i.text)
    #print("=========")
    artist_name.append(i.text)
    
#last_rank=driver6.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
#for i in last_rank:
    #print(i.text)
    #print("=========")
    #last_week_rank.append(i.text)
    
last_rank=driver6.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
for i in last_rank:
    print(i.text)
    print("=========")
    last_week_rank.append(i.text) 
    
#print(len(song_name))
#print(len(artist_name))
print(len(last_week_rank))

=========

=========

=========
1
=========
1
=========
25
=========
6

In [82]:
#Q-7

driver7=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")
driver7.get("https://www.naukri.com/")

In [86]:
job_search1=driver7.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
job_search1.send_keys('Data Scientist')

In [87]:
select_job=driver7.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
select_job.click()

In [101]:
designation=[]
companay_name=[]
skills=[]
location=[]

des=driver7.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in des:
    #print(i.text)
    designation.append(i.text)
    
companay=driver7.find_elements(By.CLASS_NAME,"subTitle")
for i in companay:
    #print(i.text)
    companay_name.append(i.text)
    
ski=driver7.find_elements(By.XPATH,'//div[@class="job-description fs12 grey-text"]')
for i in ski:
    #print(i.text)
    skills.append(i.text)
    
loc=driver7.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc:
    #print(i.text)
    location.append(i.text)

print(len(designation),len(companay_name),len(skills),len(location))

20 20 20 20

In [102]:
data_science=list(zip(designation,companay_name,skills,location))
data_science_df=pd.DataFrame(data_science,columns=["Designation","Companay","Skills","Location"])
data_science_df

,Designation,Companay,Skills,Location
0,Data Science Specialist,Accenture,Must Have Knowledge of statistical techniques ...,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
1,Data Science Manager,Accenture,Must Have Advanced Analytical skills,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
2,"Mongodb Database Administrator, Maria DB or Ca...",Mphasis,Technical Skills: Expert database administrati...,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
3,Assistant Manager - Data Science,CitiusTech,"Work with OMICs, image, med device and RWE dat...","Mumbai, Pune, Bangalore/Bengaluru"
4,Data Scientist,Tech Mahindra,Experience in data miningProven experience as ...,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
5,Senior Data Scientist,Boston Consulting Group,Candidate should hold Bachelor s Degree in Tec...,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru"
6,Senior Data Scientist,Wipro,Roles and Responsibilities Job Description / R...,"Pune, Chennai, Bangalore/Bengaluru"
7,Lead ML Scientist,Fractal Analytics,10 years experience in data science and MLAcad...,"Mumbai, Bangalore/Bengaluru"
8,Senior Data Scientist,Baker Hughes,"As a Senior Data Scientist, you will be respon...","Mumbai, Bangalore/Bengaluru"
9,Data Scientist: Artificial Intelligence,IBM,Genesys Cloud Certification is nice to have Mi...,Bangalore/Bengaluru
10,Data Scientist - Computer Vision,Walmart,"Bachelors degree in Statistics, Mathematics, C...",Bangalore/Bengaluru
11,Exciting opportunity For model monitoring/mode...,EXL,"Master / Bachelor degree in economics, mathema...","New Delhi, Gurgaon/Gurugram, Bangalore/Bengalu..."
12,Industry X - Software Engineering,Accenture,Demonstrated experience in appying several ML ...,Bangalore/Bengaluru
13,Module Lead - BIDW,Mphasis,Previous experience with data warehouse integr...,Bangalore/Bengaluru
14,Data Scientist,Ericsson,What you will do Drive Data science leadership...,Bangalore/Bengaluru
15,ACN - Applied Intelligence - C4DI - Sustainabi...,Accenture,Build client deliverables with experience in s...,Bangalore/Bengaluru
16,Senior Investment Risk Specialist - Data Science,Wells Fargo,"Develop, execute, and maintain lending valuati...",Bangalore/Bengaluru
17,Senior Data Scientist,DXC Technology,Should be able to drive creation of PoCs and c...,Bangalore/Bengaluru
18,Data Scientist I,Uber,What the Candidate Will Do Develop statistical...,Bangalore/Bengaluru
19,Data Scientist: Artificial Intelligence,IBM,Genesys Cloud Certification is nice to have Mi...,Bangalore/Bengaluru

In [17]:
#Q-8
driver8=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")
driver8.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/")

In [124]:
#Q-9

driver9=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")
driver9.get(" https://www.imdb.com/list/ls095964455/")

In [129]:
seriese_name=[]
duration=[]
genre=[]
run_time=[]
ratings=[]
vote=[]

drama=driver9.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in drama:
    title = i.text.split("(")
    #print(title[0])
    seriese_name.append(title[0])
    
time_span=driver9.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in time_span:
    #print(i.text)
    duration.append(i.text)
    
d_gener=driver9.find_elements(By.XPATH,'//span[@class="genre"]')
for i in d_gener:
    #print(i.text)
    genre.append(i.text)
    
time=driver9.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in time:
    #print(i.text)
    run_time.append(i.text)
    
rate=driver9.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rate:
    #print(i.text)
    ratings.append(i.text)
    
vo=driver9.find_elements(By.XPATH,'//span[@name="nv"]')
for i in vo:
    #print(i.text)
    vote.append(i.text)    

print(len(seriese_name),len(duration),len(genre),len(run_time),len(ratings),len(vote))

100 100 100 100 100 100

In [130]:
series=list(zip(seriese_name,duration,genre,run_time,ratings,vote))
series_df=pd.DataFrame(series,columns=["Name","Duration","Genre","Time","ratings","votes"])
series_df

,Name,Duration,Genre,Time,ratings,votes
0,1. Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,060,361"
1,2. Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,154,157"
2,3. The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"971,884"
3,4. 13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"289,813"
4,5. The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"249,254"
...,...,...,...,...,...,...
95,96. Reign,(2013–2017),Drama,42 min,7.4,"49,680"
96,97. A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,726"
97,98. Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"195,452"
98,99. Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,136"
99,100. The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"237,993"

In [69]:
#Q-10

driver10=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")
driver10.get("https://archive.ics.uci.edu/ml/index.php")

In [70]:
all_dataset=driver10.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
all_dataset.click()

In [84]:
dataset_name=[]
data_type=[]
data_task=[]
attribute_type=[]
no_instance=[]
no_attributr=[]
dataset_year=[]

rows = driver10.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr")
for row in rows[1:623]:
    cols = row.find_elements(By.XPATH,"./*[name()='td'][1]")
    for col in cols:
        #print(col.text)
        dataset_name.append(col.text)
#print(len(dataset_name))

rows = driver10.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr")
for row in rows[1:623]:
    cols = row.find_elements(By.XPATH,"./*[name()='td'][2]")
    for col in cols:
        #print(col.text)
        data_type.append(col.text)
#print(len(data_type))

rows = driver10.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr")
for row in rows[1:623]:
    cols = row.find_elements(By.XPATH,"./*[name()='td'][3]")
    for col in cols:
        #print(col.text)
        data_task.append(col.text)
#print(len(data_task))

rows = driver10.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr")
for row in rows[1:623]:
    cols = row.find_elements(By.XPATH,"./*[name()='td'][4]")
    for col in cols:
        #print(col.text)
        attribute_type.append(col.text)
#print(len(attribute_type))

rows = driver10.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr")
for row in rows[1:623]:
    cols = row.find_elements(By.XPATH,"./*[name()='td'][5]")
    for col in cols:
        #print(col.text)
        no_instance.append(col.text)
#print(len(no_instance))

rows = driver10.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr")
for row in rows[1:623]:
    cols = row.find_elements(By.XPATH,"./*[name()='td'][6]")
    for col in cols:
        #print(col.text)
        no_attributr.append(col.text)
#print(len(no_attributr))

rows = driver10.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr")
for row in rows[1:623]:
    cols = row.find_elements(By.XPATH,"./*[name()='td'][7]")
    for col in cols:
       #print(col.text)
        dataset_year.append(col.text)
#print(len(dataset_year))

In [85]:
dataset_all=list(zip(dataset_name,data_type,data_task,attribute_type,no_instance,no_attributr,dataset_year))
dataset_df=pd.DataFrame(dataset_all,columns=["Dataset name","Data type","Task","Attribute type","No of instances","No of attribute","Year"])
dataset_df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021