In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
from time import sleep

In [29]:
# driver connection
driver=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")

In [32]:
#Q-1
driver.get("https://www.naukri.com/")

In [18]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [19]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [20]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [21]:
job_title=[]
job_location=[]
job_experience=[]
company_name=[]

In [22]:
#get job titles
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#get job location
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location) 
    
#get company name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)  
    
#get Job Experience
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    job_experience.append(experience)

In [25]:
print(len(job_title),len(job_location),len(company_name),len(job_experience))

10 10 10 10

In [26]:
data=list(zip(job_title,job_location,company_name,job_experience))
data_analyst_df=pd.DataFrame(data,columns=["Job Title","Location","Company Name","Experience"])
data_analyst_df

,Job Title,Location,Company Name,Experience
0,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
1,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-3 Yrs
2,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs
3,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
4,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru(Domlur),KrazyBee,3-5 Yrs
6,Data Analyst,Bangalore/Bengaluru,Novel Office,0-3 Yrs
7,Women on career break_ Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Zinnov Management C,5-10 Yrs
8,BYJU'S DBEL : Sr Data Analyst,Bangalore/Bengaluru,BYJUS,3-7 Yrs
9,SR. Data Analyst- SME- Pharma and Healthcare,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",CHRYSELYS,2-6 Yrs

In [33]:
#Q-2
# driver connection
driver1=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")

In [34]:
driver1.get("https://www.naukri.com/")

In [35]:


designation1=driver1.find_element(By.CLASS_NAME,"suggestor-input ")
designation1.send_keys('Data Scientist')

location1=driver1.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location1.send_keys('Bangalore')

In [36]:
search1=driver1.find_element(By.CLASS_NAME,"qsbSubmit")
search1.click()

In [37]:
job_title1=[]
job_location1=[]
job_experience1=[]
company_name1=[]

In [38]:
#get job titles
title_tags1=driver1.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags1[0:10]:
    title1=i.text
    job_title1.append(title1)
    
#get job location
location_tags1=driver1.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags1[0:10]:
    location1=i.text
    job_location1.append(location1) 
    
#get company name
    company_tags1=driver1.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags1[0:10]:
    company1=i.text
    company_name1.append(company1)  
    
#get Job Experience
experience_tags1=driver1.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags1[0:10]:
    experience1=i.text
    job_experience1.append(experience1)

In [39]:
print(len(job_title1),len(job_location1),len(company_name1),len(job_experience1))

10 10 10 10

In [40]:
data1=list(zip(job_title1,job_location1,company_name1,job_experience1))
data_scientist_df=pd.DataFrame(data1,columns=["Job Title","Location","Company Name","Experience"])
data_scientist_df

,Job Title,Location,Company Name,Experience
0,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra,4-9 Yrs
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited,4-9 Yrs
4,Data Scientist - A.P. Maersk,Bangalore/Bengaluru\n(WFH during Covid),Maersk,5-10 Yrs
5,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited,2-7 Yrs
6,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited,2-7 Yrs
7,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited,2-7 Yrs
8,Principal Data Scientist,Bangalore/Bengaluru,Optum,10-15 Yrs
9,Data Scientist / Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Mindtree,7-12 Yrs

In [65]:
#Q-3
# driver connection
driver2=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")

In [66]:
driver2.get("https://www.naukri.com/")

In [67]:
designation2=driver2.find_element(By.CLASS_NAME,"suggestor-input ")
designation2.send_keys('Data Scientist')

In [68]:
search2=driver2.find_element(By.CLASS_NAME,"qsbSubmit")
search2.click()

In [69]:
location2=driver2.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/i')
location2.click()

#location2=driver2.find_element(By.XPATH,'//input[@id="chk-Delhi / NCR-cityTypeGid-"]')
#location2.click()

In [70]:
salary=driver2.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salary.click()

In [71]:
job_title2=[]
job_location2=[]
job_experience2=[]
company_name2=[]

In [72]:
#get job titles
title_tags2=driver2.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags2[0:10]:
    title2=i.text
    job_title2.append(title2)
    
#get job location
location_tags2=driver2.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags2[0:10]:
    location2=i.text
    job_location2.append(location2) 
    
#get company name
company_tags2=driver2.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags2[0:10]:
    company2=i.text
    company_name2.append(company2)  
    
#get Job Experience
experience_tags2=driver2.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags2[0:10]:
    experience2=i.text
    job_experience2.append(experience2)

In [54]:
print(len(job_title2),len(job_location2),len(company_name2),len(job_experience2))

10 10 10 10

In [55]:
data2=list(zip(job_title2,job_location2,company_name2,job_experience2))
data_scientist_filter_df=pd.DataFrame(data2,columns=["Job Title","Location","Company Name","Experience"])
data_scientist_filter_df

,Job Title,Location,Company Name,Experience
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
2,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
3,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
4,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
5,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
6,Data Scientist,Noida,4i Odc,2-4 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
9,Jr. Data Scientist,Noida,Dataflow,2-5 Yrs

In [202]:
#Q-4
# driver connection
driver4=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")

In [203]:
driver4.get("https://www.flipkart.com/")

In [204]:
product_item=driver4.find_element(By.CLASS_NAME,"_3704LK")
product_item.send_keys('sunglasses')

In [205]:
search_flip=driver4.find_element(By.CLASS_NAME,"L0Z3Pu")
search_flip.click()

In [207]:
product_brand=[]
product_description=[]
Product_price=[]

start=0
end=2
for page in range(start,end):
    
    
    prod_brand=driver4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in prod_brand:
        product_brand.append(i.text)
        
    prod_desc=driver4.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in prod_desc:
        product_description.append(i.text)
        
    prod_price=driver4.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prod_price:
        Product_price.append(i.text)
        
    next_button=driver4.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)

In [208]:
print(len(product_brand),len(product_description),len(Product_price))

80 80 80

In [209]:
data_glasses=list(zip(product_brand,product_description,Product_price))
data_glasses_df=pd.DataFrame(data_glasses,columns=["Brand","Product Description","Price"])
data_glasses_df

            Brand                               Product Description   Price
0   VINCENT CHASE    Polarized, UV Protection Round Sunglasses (50)  ₹1,049
1   VINCENT CHASE    Polarized, UV Protection Round Sunglasses (51)  ₹1,533
2        Fastrack     UV Protection Wayfarer Sunglasses (Free Size)    ₹799
3       New Specs  UV Protection Rectangular Sunglasses (Free Size)    ₹250
4          PIRASO             UV Protection Aviator Sunglasses (54)    ₹251
..            ...                                               ...     ...
75  VINCENT CHASE    Polarized, UV Protection Round Sunglasses (50)  ₹1,049
76   Silver Kartz     UV Protection Wayfarer Sunglasses (Free Size)    ₹288
77       Fastrack         UV Protection Wrap-around Sunglasses (63)    ₹710
78       Fastrack     UV Protection Wayfarer Sunglasses (Free Size)    ₹599
79         AISLIN   UV Protection, Gradient Cat-eye Sunglasses (58)    ₹498

[80 rows x 3 columns]

In [267]:
#Q-5
# driver connection
driver5=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")

In [268]:
driver5.get("https://www.flipkart.com/")

In [269]:
product_iphone=driver5.find_element(By.CLASS_NAME,"_3704LK")
product_iphone.send_keys('iphone11 black')

In [270]:
search_iphone=driver5.find_element(By.CLASS_NAME,"L0Z3Pu")
search_iphone.click()

In [271]:
search_iphone11=driver5.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[4]/div/div/div/a/div[2]/div[1]/div[1]')
search_iphone11.click()

In [272]:
iphone_rating=[]
iphone_summary=[]
iphone_full_review=[]

In [276]:

i_summ=driver5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')    
    for i in i_summ:
    rate=i.text
    iphone_rating.append(rate)

IndentationError: unexpected indent (Temp/ipykernel_6536/2126310035.py, line 3)

In [274]:
print(len(iphone_summary),len(iphone_rating),len(iphone_full_review))

0 0 0

In [307]:
#Q-6
# driver connection
driver6=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")

In [308]:
driver6.get("https://www.flipkart.com/")

In [309]:
product_sneakers=driver6.find_element(By.CLASS_NAME,"_3704LK")
product_sneakers.send_keys('sneakers')

In [310]:
search_sneaker=driver6.find_element(By.CLASS_NAME,"L0Z3Pu")
search_sneaker.click()

In [320]:
product_brand1=[]
product_description1=[]
Product_price1=[]

start=0
end=2
for page in range(start,end):
    
    prod_brand1=driver6.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in prod_brand1:
        product_brand1.append(i.text)
    
        
    prod_desc1=driver6.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in prod_desc1:
        product_description1.append(i.text)
        
    prod_price1=driver6.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prod_price1:
        Product_price1.append(i.text)
        
    next_button_sneaker=driver6.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button_sneaker.click()
    time.sleep(3)

In [318]:
print(len(product_brand1),len(product_description1),len(Product_price1))

80 66 80

In [319]:
data_sneakers=list(zip(product_brand1,product_description1,Product_price1))
data_sneakers_df=pd.DataFrame(data_sneakers,columns=["Brand","Product Description","Price"])
data_sneakers_df

           Brand                                Product Description Price
0   K- FOOTLANCE                                   Sneakers For Men  ₹399
1         Shozie                                   Sneakers For Men  ₹348
2       Magnolia                                   Sneakers For Men  ₹419
3       RapidBox                                   Sneakers For Men  ₹610
4         Labbin                                   Sneakers For Men  ₹499
..           ...                                                ...   ...
61      RapidBox                                   Sneakers For Men  ₹590
62        Layasa  heartbeat casual shoe Casuals For Men (White) ...  ₹399
63        Chevit  Fashionable Canvas Casual Partywear Outdoor Sn...  ₹559
64      LE GREEM                   white sneaker Sneakers For Women  ₹449
65        BRUTON                                   Sneakers For Men  ₹379

[66 rows x 3 columns]

In [99]:
#Q-7
driver7=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")
driver7.get("https://www.myntra.com/shoes")

In [100]:
filter_price = driver7.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
filter_price.click()

In [101]:
filter_color= driver7.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
filter_color.click()

In [108]:
shoes_brand=[]
shoes_description=[]
shoe_price=[]

for i in range(2):
    print('Scraping page :', i+1)
    brand1=driver7.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand1:
        shoes_brand.append(i.text)
        
    description=driver7.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in description:
        shoes_description.append(i.text)    
    
    price=driver7.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price:
        shoe_price.append(i.text)
    
    next_btn = driver7.find_element(By.CLASS_NAME,"pagination-next")
    next_btn.click()
    sleep(2)

Scraping page : 1
Scraping page : 2

In [109]:
print(len(shoes_brand),len(shoes_description),len(shoe_price))

100 100 100

In [110]:
data_shoes=list(zip(shoes_brand,shoes_description,shoe_price))
data_shoes_df=pd.DataFrame(data_shoes,columns=["Brand","Product Description","Price"])
data_shoes_df

,Brand,Product Description,Price
0,Nike,Men ZOOM WINFLO8 Running Shoes,Rs. 7880Rs. 8295(5% OFF)
1,Nike,Men React Infinity 3 Running,Rs. 13295Rs. 13995(5% OFF)
2,Nike,Lebron Witness VI Basketball,Rs. 8295
3,Nike,Men Colourblocked Sneakers,Rs. 10795
4,PUMA Motorsport,Mercedes AMG Petronas F1 Shoes,Rs. 9349Rs. 10999(15% OFF)
...,...,...,...
95,Tommy Hilfiger,Women Leather Kitten Sandals,Rs. 7199Rs. 7999(10% OFF)
96,Tommy Hilfiger,Women Solid Slim Heel Sandals,Rs. 7299
97,ROSSO BRUNELLO,Men Solid Leather Formal Derbys,Rs. 8799Rs. 10999(20% OFF)
98,Columbia,Women REDMOND V2 TrekkingShoe,Rs. 7999
99,Columbia,PEAKFREAK OUTDRY Trekking Shoe,Rs. 9999

In [61]:
#Q-8
driver8=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")
driver8.get("https://www.amazon.in/")

In [62]:
product_laptop=driver8.find_element(By.CLASS_NAME,"nav-input")
product_laptop.send_keys('Laptop')

In [63]:
search_laptop=driver8.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_laptop.click()

In [64]:
filter_cpu_type = driver8.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/div/label/i')
filter_cpu_type.click()

In [65]:
laptop_title=[]
laptop_rating=[]
laptop_price=[]

lap_title=driver8.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in lap_title[0:10]:
    laptop_title.append(i.text)
    
lap_price=driver8.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in lap_price[0:10]:
    laptop_price.append(i.text)
        
lap_rating=driver8.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in lap_rating[0:10]:
    laptop_rating.append(i.text)    
    
#lap_price=driver8.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
#for i in price:
    #shoe_price.append(i.text)

In [66]:
print(len(laptop_title),len(laptop_price),len(laptop_rating))

10 10 10

In [67]:
data_laptop=list(zip(laptop_title,laptop_price,laptop_rating))
data_laptop_df=pd.DataFrame(data_laptop,columns=["Laptop Title","Price","Rating"])
data_laptop_df

                                        Laptop Title     Price Rating
0  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...    82,990
1  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    80,790
2  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...    94,990
3  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...  1,06,999
4  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    91,999
5  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...  1,09,990
6  DELL Alienware x14 Gaming Laptop, Intel i7-127...  2,00,490
7  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...  1,60,999
8  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...    72,890
9  (Renewed) Lenovo Intel Core i7 5600U 12.5-Inch...    23,998

In [74]:
#Q-9
# driver connection
driver9=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")
driver9.get("https://www.ambitionbox.com/")

In [75]:
job_btn=driver9.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[5]')
job_btn.click()

In [76]:
job_search=driver9.find_element(By.CLASS_NAME,"input")
job_search.send_keys('Data Scientist')

In [77]:
search_btn=driver9.find_element(By.CLASS_NAME,'ab_btn')
search_btn.click()

In [36]:
location_filter=driver9.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]')
location_filter.click()

In [37]:
job_location_search=driver9.find_element(By.XPATH,'//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')
job_location_search.send_keys('noida')

In [38]:
noida_cl=driver9.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
noida_cl.click()

In [46]:
data_titele=[]
companay_name=[]

title11=driver9.find_elements(By.XPATH,'//a[@class="title noclick"]')
for i in title11[0:10]:
    data_titele.append(i.text)
    
companay=driver9.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in companay[0:10]:
    companay_name.append(i.text)

In [47]:
print(len(data_titele),len(companay_name))

10 10

In [48]:
data_companay=list(zip(data_titele,companay_name))
data_companay_df=pd.DataFrame(data_companay,columns=["Job Title","Companay Name"])
data_companay_df

,Job Title,Companay Name
0,Quality Engineer,Optum Global Solutions (India) Private Limited
1,Data Scientist- SAS Analyst,BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED
2,EY GDS - Data Scientist (10-20 yrs),EY GDS
3,Data Scientist,GLOBALLOGIC INDIA PRIVATE LIMITED
4,Hiring Data Scientist #productbasecompany #CBRE,CBRE South Asia Pvt Ltd
5,Hiring For Genpact-Data Scientist- Forecasting...,GENPACT India Private Limited
6,Genpact - Data Scientist - Forecasting/Python/...,Genpact
7,Data Scientist,Ericsson India Global Services Pvt. Ltd.
8,Data Scientist - Machine Learning Algorithms (...,Dew Solutions Pvt. Ltd.
9,Data Scientist,One97 Communications Limited

In [4]:
#Q-10
# driver connection
driver10=webdriver.Chrome(r"D:\Software\chromedriver_win32\chromedriver.exe")
driver10.get("https://www.ambitionbox.com/")

In [6]:
salary_option=driver10.find_element(By.XPATH,'//*[@id="ambitionbox-header"]/nav/ul/li[3]')
salary_option.click()

In [7]:
salary_option2=driver10.find_element(By.XPATH,'//*[@id="ambitionbox-header"]/nav/ul/li[3]/div/ul/li[1]/div')
salary_option2.click()

In [11]:
job_search1=driver10.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
job_search1.send_keys('Data Scientist')

In [12]:
select_job=driver10.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')
select_job.click()

In [30]:
companay_namee=[]
total_salary=[]
average_salary=[]
maximum_salary=[]
min_salary=[]
job_experience=[]


companay_div=driver10.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in companay_div[0:10]:
    tpp=i.text
    print(type(tpp))
    print(i.text)
    Type1 = tpp.split(" ")
    companay_namee.append(Type1[0].replace("\n","-"))
    print(companay_namee)
    
avg_salary=driver10.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_salary[0:10]:
    #print(i.text)
    average_salary.append(i.text)

max_salary=driver10.find_elements(By.XPATH,'//div[@class="salary-values"]')
for i in max_salary[0:10]:
    tp=i.text
    #print(type(tp))
    Type = tp.split(" ")
    min_salary.append(Type[1])
    maximum_salary.append(Type[2]) 
    #print(min_salary)
    #print(maximum_salary)

experience=driver10.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in experience[0:10]:
    job_experience.append(i.text)
    #print(job_experience)

<class 'str'>
Walmart
Data Scientist Salary
3-4 yrs experience (based on 23 salaries)
['Walmart-Data']
<class 'str'>
Ab Inbev
Data Scientist Salary
2-4 yrs experience (based on 57 salaries)
['Walmart-Data', 'Ab']
<class 'str'>
Optum
Data Scientist Salary
2-4 yrs experience (based on 49 salaries)
['Walmart-Data', 'Ab', 'Optum-Data']
<class 'str'>
ZS
Data Scientist Salary
1-2 yrs experience (based on 34 salaries)
['Walmart-Data', 'Ab', 'Optum-Data', 'ZS-Data']
<class 'str'>
Fractal Analytics
Data Scientist Salary
2-4 yrs experience (based on 115 salaries)
['Walmart-Data', 'Ab', 'Optum-Data', 'ZS-Data', 'Fractal']
<class 'str'>
Tiger Analytics
Data Scientist Salary
2-4 yrs experience (based on 68 salaries)
['Walmart-Data', 'Ab', 'Optum-Data', 'ZS-Data', 'Fractal', 'Tiger']
<class 'str'>
Sigmoid Analytics
Data Scientist Salary
1 yr experience (based on 10 salaries)
['Walmart-Data', 'Ab', 'Optum-Data', 'ZS-Data', 'Fractal', 'Tiger', 'Sigmoid']
<class 'str'>
Legato Health Technologies
Data Scientist Salary
4 yrs experience (based on 11 salaries)
['Walmart-Data', 'Ab', 'Optum-Data', 'ZS-Data', 'Fractal', 'Tiger', 'Sigmoid', 'Legato']
<class 'str'>
HSBC
Data Scientist Salary
4 yrs experience (based on 10 salaries)
['Walmart-Data', 'Ab', 'Optum-Data', 'ZS-Data', 'Fractal', 'Tiger', 'Sigmoid', 'Legato', 'HSBC-Data']
<class 'str'>
Tredence
Data Scientist Salary
3 yrs experience (based on 14 salaries)
['Walmart-Data', 'Ab', 'Optum-Data', 'ZS-Data', 'Fractal', 'Tiger', 'Sigmoid', 'Legato', 'HSBC-Data', 'Tredence-Data']

In [31]:
data_companay_comp=list(zip(companay_namee,average_salary,maximum_salary,min_salary,job_experience))
data_companay_comp_df=pd.DataFrame(data_companay_comp,columns=["Companay Name","Average Salary","Maximum Salary","Minimum Salary","Experience"])
data_companay_comp_df

,Companay Name,Average Salary,Maximum Salary,Minimum Salary,Experience
0,Walmart-Data,₹ 32.3L,45.0L,25.0L\n₹,3-4 yrs experience (based on 23 salaries)
1,Ab,₹ 19.9L,26.0L,15.0L\n₹,2-4 yrs experience (based on 57 salaries)
2,Optum-Data,₹ 16.4L,22.6L,11.0L\n₹,2-4 yrs experience (based on 49 salaries)
3,ZS-Data,₹ 15.8L,22.0L,11.0L\n₹,1-2 yrs experience (based on 34 salaries)
4,Fractal,₹ 15.4L,23.0L,9.0L\n₹,2-4 yrs experience (based on 115 salaries)
5,Tiger,₹ 14.7L,20.0L,9.0L\n₹,2-4 yrs experience (based on 68 salaries)
6,Sigmoid,₹ 14.7L,19.7L,12.7L\n₹,1 yr experience (based on 10 salaries)
7,Legato,₹ 14.5L,20.0L,11.0L\n₹,4 yrs experience (based on 11 salaries)
8,HSBC-Data,₹ 14.0L,18.0L,12.0L\n₹,4 yrs experience (based on 10 salaries)
9,Tredence-Data,₹ 13.9L,17.5L,8.8L\n₹,3 yrs experience (based on 14 salaries)